<div color="accent">  
  <span>Data Loading app</span>  
  <span class="demo-toolbar"></span>  
</div>  
  
<div>  
  <div class="container">  
    <div class="row" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false"  
    style="height: 95vh; overflow-y: scroll;">  
      <!--<div *ngFor="let item of myPhotosList" class="col-md-4" style="margin-top: 10px;">  
        <img style="height: 220px;width: 315px;" src="{{item.url}}" />  -->
        <div *ngFor="let item of wellList" class="col-md-4" style="margin-top: 20px;">
          <span style="font-size: 35px">{{item}}</span>
        </div>
      <!-- </div>   -->
    </div>  
  </div>  
</div>  
